# VSCode settings
.vscode/

# Node modules
node_modules/
!.gitkeep

# Env files
.env
.env.*

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Logs
logs/
*.log

# Coverage reports
coverage/
coverage.json
coverage-final.json
lcov-report/
nyc_output/

# Compiled solidity files
*.sol.js

# Yarn lock file
yarn.lock

# NPM debug files
npm-debug.log*

